/*Author Divyanshu Agrawal*/

@font-face {
    font-family: Gotham;
    src: url('../fonts/gotham-bold.OTF');
}

* {
    font-family: Gotham;
    outline: none;
}

* {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

body {
    overflow-y: scroll;
    z-index: 10;
}

.album-smart {
    /*	background: url('../podcast_details/ABCD');
	background-size: cover;
	width:100%;
	height: 100%;
	position: fixed;
	left:0px;
	top:0px;
	z-index:-10;
	filter: blur(100px);*/
}

.custom-navbar {
    width: 100%;
    padding: 20px;
    background: inherit;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
    box-shadow: 0px 0px 5px 0px rgb(200, 200, 200);
}

.red {
    color: #FF5757;
}

.main-content h5 {
    margin-bottom: -20px;
}

.main-content {
    margin-bottom: 150px;
}

.loaded-container {
    margin-top: 150px;
}

.podcast span {
    display: block;
    padding-top: 10px;
    margin: 0px;
}

.col-md .artist {
    font-size: 75%;
    margin-top: -10px;
}

.custom-wrapper {
    display: none;
}

.navbar-container {}

.logo img {
    width: 60%;
    text-align: left;
}

.full-width {
    width: 100%;
    max-width: 1000000px;
}

.user img {
    display: inline;
    width: 32px;
}

.custom-search {
    border: 0px solid #EBEBEB;
    background: #EBEBEB;
    padding: 5px;
    margin-right: 40px;
    border-radius: 5px;
}

.custom-search-inner {
    background: #EBEBEB;
    border: 0px;
    outline: none;
}

.custom-search img {
    width: 16px;
    margin-bottom: 3px;
    margin-left: 10px;
}

.links {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.links a {
    color: black;
    margin: 0px 20px 0px 20px;
    padding: 0px 20px 10px 20px;
    ;
    border-bottom: 5px solid transparent;
    text-decoration: none;
    text-transform: uppercase;
}

.red-dot {
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 1000px;
}

.links a.active {
    border-color: black;
}

.bottom-part {
    /* padding-bottom:30px; */
}

.carousel-item img {
    height: 300px;
    object-fit: cover;
}

.carousel-indicators li {
    width: 10px;
    border-radius: 100px;
    height: 10px;
}

.live img {
    width: 10px;
}

.podcast img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.08);
    background-color: white;
}

.main-content {
    padding-top: 40px;
    /* width: 1000px; */
    /* max-width: 1500px; */
}

.podcast img:before {
    content: "";
    display: block;
    padding-top: 100%;
    /* initial ratio of 1:1*/
}

.podcast div {
    padding: 40px;
}

.popup {
    position: fixed;
    top: 0px;
    background: white;
    display: block;
    left: 0px;
    z-index: 2000;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    display: none;
    padding-bottom: 100px;
}

.popup-close {
    position: fixed;
    top: 0px;
    z-index: 100000;
    right: 0px;
    padding: 20px;
    cursor: pointer;
}

.full-chat {
    display: none;
}

.full-live-chat {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    z-index: 10000000;
    overflow-y: auto;
    padding: 0px !important;
}

.full-live-chat .chat-box {
    height: auto;
    margin-bottom: 75px;
}

.full-live-chat .live-input {
    position: fixed;
    left: 0vw;
    width: 100vw;
    margin: 0px;
    padding: 15px;
    border-radius: 0px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    bottom: 0px;
}

.album-art {
    width: 100%;
}

.popup-container {
    margin-top: 100px;
    /* width:1300px; */
    /* max-width: 2000px; */
}

.popup-close:hover {
    opacity: 0.5;
}

ul.queue-list li {
    list-style-type: none;
    padding-bottom: 40px;
}

.album-art {
    /* border:1px solid rgb(150,150,150); */
    margin-top: -40px;
    border-radius: 15px;
    max-width: 100%;
    box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.1);
}

.search-results-list {
    list-style-type: none;
    padding: 0px;
}

.search-results-list li {
    padding: 15px;
    cursor: pointer;
    margin: -5px;
    border-bottom: 1px solid whitesmoke;
}

.search-results-list li:hover {
    background: whitesmoke;
}

.popup-container .col-md-4 {
    padding: 40px;
}

.play-button-popup {}

.loader-trans {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 10000000;
    background: rgba(255, 255, 255, 0);
    display: none;
}

.ajaxify-loader {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    max-width: 100%;
    background: #ff7878;
    padding: 20px 50px 20px 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.55);
}

.search-results {
    position: absolute;
    padding: 20px;
    min-width: 400px;
    max-width: 100%;
    display: none;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.music-player {
    position: fixed;
    bottom: 100000;
    left: 0px;
    bottom: 0px;
    width: 100%;
    padding: 10px;
    background: white;
    z-index: 3000;
    box-shadow: 0px 0px 10px 0px rgb(200, 200, 200);
}

.music-player div {
    padding: 0px 30px 0px 30px;
}

.current-image {
    width: 100%;
    position: absolute;
    bottom: 10px;
    object-fit: cover;
    width: 50%;
    left: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgb(100, 100, 100);
}

audio {
    width: 100%;
    background: transparent;
    padding: 0px;
    border-radius: 0px;
    margin: 0px;
}

.play-song {
    cursor: pointer;
    transition: all 0.5s;
}

.play-song:hover {
    color:rgb(200,200,200);
    opacity:0.8;
   
}

.podcast .fetch-list {
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 15px;
}

.carousel-caption {
    text-shadow: 1px 1px rgb(5, 5, 5);
    cursor: pointer;
}

.carousel-caption h5 {
    color: #FF5757;
}

.mobile-player {
    display: none;
}

.podcast .fetch-list:hover {
    background: whitesmoke;
}

.live-album-art img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.3);
}

.message-box {
    padding: 10px;
}

.radio-category {
    margin-bottom: 40px;
}

.live-input {
    width: 100%;
    background: white;
    border: 0px;
    padding: 10px;
    margin: -10px;
    margin-top: 10px;
    border-radius: 10px;
}

.live-play {
    width: 32px;
    display: block;
    margin: 10px;
    cursor: pointer;
}

.live-play:hover {
    opacity: 0.2;
}

.live-chat {
    width: 100%;
    background: whitesmoke;
    padding: 20px;
    border-radius: 10px;
}

.clearfix {
    display: block;
    width: 100%;
    content: ' ';
    clear: both;
}

.chat-box {
    width: 100%;
    height: 300px;
    overflow: hidden;
    background: white;
    padding: 20px;
    border-radius: 10px;
    overflow-y: scroll;
}

.live-chat-message {
    padding: 5px;
    color: white;
    background: #ffe9e9;
    font-size: 60%;
    max-width: 70%;
    border-radius: 5px;
    margin: 5px 0px 5px 0px;
    float: left;
    clear: both;
}

.live-username-input {
    width: 100%;
    background: #f3f3f3;
    border: 0px;
    padding: 10px;
    margin: -10px;
    margin-top: 10px;
    border-radius: 10px;
}

.live-message {
    display: block;
    color: #676767;
}

.live-username {
    display: block;
    color: #ff8383;
}

.my-message {
    float: right;
    clear: both;
    background: #8a8a8a;
}

.my-message .live-username {
    color: #ffd1d1;
}

.my-message .live-message {
    color: white;
}

.scrolled {
    top: -70px;
    padding-bottom: 0px;
}

@media only screen and (max-width: 600px) {
    .scrolled {
        top: 0px;
    }
    .logo {
        text-align: center;
    }
    .full-live-chat {
        background: white;
    }
    .full-live-chat .chat-header {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        background: white;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .3);
    }
    .full-live-chat .chat-box {
        margin-top: 100px;
    }
    .full-live-chat .chat-header h4 {
        margin: 10px;
    }
    .full-live-chat .chat-header button {
        float: none !important;
        display: inline;
        position: fixed;
        top: 5px;
        right: 5px;
        margin: 0px;
        width: auto;
    }
    .full-chat {
        display: block;
        display: block;
        margin-bottom: 20px;
    }
    .logo img {
        padding: 10px;
        width: 40%;
    }
    .search-results {
        /* left:0px; */
        position: fixed;
        /* width: 90%; */
        /* margin: 5%; */
        max-width: 90%;
        right: 10px;
        min-width: 0px;
    }
    .nav-username,
    .nav-search {
        display: none;
    }
    .bottom-part {
        padding: 0px;
    }
    .links {
        margin: 0px;
        padding: 5px 5px 0px 5px;
    }
    .links a {
        display: inline;
        padding: 0px;
        float: left;
        width: 25%;
        font-size: 10px;
        margin: 0px;
        margin-bottom: 0px !important;
    }
    .links a.active {
        border-bottom: 2px solid black;
    }
    .scrolled {
        transition: all 0.3s;
    }
    .custom-navbar {
        transition: all 0.3s;
        padding: 5px;
        padding-bottom: 10px;
    }
    .nav-search {
        position: fixed;
        top: 0px;
        right: 0px;
        display: block;
        padding: 0px;
    }
    .custom-search {
        margin-right: 0px;
        margin: 5px;
    }
    .custom-search img {
        padding: 0px;
        margin: 0px;
    }
    .nav-search input {
        display: none;
    }
    .nav-search:hover input {
        display: inline;
    }
    .podcast div {
        padding: 20px;
        width: 50%;
    }
    .main-content h5 {
        margin-bottom: 0px;
    }
    .main-content {
        margin-bottom: 100px;
    }
    .nav-username {
        position: fixed;
        top: 0px;
        left: 0px;
        display: block;
        margin: 5px;
        padding: 5px;
        background: whitesmoke;
        border-radius: 5px;
    }
    .nav-username img {
        width: 22px;
    }
    .player {
        display: none;
    }
    .nav-username span {
        display: none;
    }
    .music-player {
        padding: 0px;
    }
    .current-image {
        max-width: 100%;
    }
    .music-player-image {
        padding: 0 5px 0px 15px !important;
    }
    .music-player-image .col-md-2 {
        width: 15%;
        padding: 0px;
        border: 0px;
    }
    .music-player-image img {
        border-radius: 0px;
        box-shadow: none;
    }
    .music-player-image .col-md-4 {
        width: 65%;
        padding: 10px;
    }
    .music-player-image .col-md-6 {
        width: 20%;
        padding: 10px;
    }
    .music-player-image .col-md-2 img {
        position: static;
        margin: 0px;
        width: 100%;
        padding: 0px;
        border: 0px;
    }
    .player-title,
    .player-artist {
        display: block;
        font-size: 10px;
    }
    .mobile-player {
        display: block;
        width: 100%;
    }
    .mobile-player img {
        margin: -10px;
        margin-left: -30px;
        padding: 20px !important;
        /* padding-right: 1000000px; */
        /* float:right; */
        padding: 10px;
        object-fit: cover;
    }
    .music-player h5 {
        font-size: 14px;
        margin-bottom: 0px;
    }
    .popup-container {
        margin-top: 0px;
    }
    .album-art-div img {
        display: block;
        margin: 0 auto;
        max-width: 40%;
    }
    .queue-list {
        padding-left: 0px;
        padding: 15px;
        border-radius: 10px;
        background: whitesmoke;
    }
    .details-div {}
    .play-song .col-md-2 {
        width: 20%;
    }
    .play-song .col-md-8 {
        width: 60%;
    }
    .play-song .col-md-2 {
        width: 20%;
    }
    .list-play-button {
        width: 20px;
        margin-right: 20px;
        color: pink;
    }
    .ajaxify-loader {
        left: 0px;
        bottom: 0px;
        margin: 0px;
        width: 100%;
        border-radius: 10px 10px 0px 0px;
    }
}